body {
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
}

header {
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.header {
  padding: 0px 20px;
  margin-left: 126px;
}
.header__icon {
  font-size: 25px;
  margin-right: 18px;
  text-decoration: none;
  color: #000;
}
.header__logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img__image {
  width: 100%;
  max-height: 300px;
  height: 300px;
  max-width: 100%;
  object-fit: cover;
}

.menu {
  padding: 0 20px;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: -60px;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", cursive;
  margin-left: 97px;
  margin-right: 126px;
}
.menu__header__heart {
  font-size: 22px;
  position: relative;
}
.menu__header__heart .fas {
  position: absolute;
  opacity: 0;
  top: 3px;
  background: -webkit-linear-gradient(180deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0.1);
  transition: 0.4s all ease-out;
}
.menu__header__heart .fas:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.05);
}
.menu__grid {
  margin-top: -25px;
  display: flex;
  justify-content: space-evenly;
}
.menu__grid__bloc {
  width: calc(25% - 10px);
}
.menu__grid__title {
  text-transform: uppercase;
  color: gray;
  margin-top: 40px;
}
.menu__grid__title h3 {
  font-weight: 400;
  position: relative;
  margin-bottom: 35px;
}
.menu__grid__title h3::before {
  content: "";
  position: absolute;
  top: 30px;
  height: 3px;
  width: 14%;
  background-color: #99E2D0;
}
.menu__grid__title h3.active::before {
  display: block;
}
.menu__grid__case {
  opacity: 0;
  background: #FFF;
  padding: 0px 0px 0px 10px;
  height: 70px;
  border-radius: 17px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  animation: effetCascade 1.2s linear forwards;
  animation-delay: 0.6s;
  overflow: hidden;
}
.menu__grid__case:hover .validation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-left 1s ease;
}
.menu__grid__case:hover .menu__case__price {
  padding-right: 10px;
  transition: 0.8s ease;
}
@keyframes slide-left {
  0% {
    margin-right: -70px;
  }
  100% {
    margin-right: 0px;
  }
}
.menu__grid__case:nth-child(2) {
  animation-delay: 0.1s;
}
.menu__grid__case:nth-child(3) {
  animation-delay: 0.3s;
}
@keyframes effetCascade {
  0% {
    opacity: 0;
    transform: translateY(7px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
.menu__grid__case:hover {
  cursor: pointer;
}
.menu__dish-and-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 0px;
}
.menu__case__dish-title h4 {
  font-weight: 500;
  font-size: 19px;
}
.menu__case__dish-subtitle {
  color: gray;
}
.menu__case__right {
  display: flex;
  justify-content: flex-end;
}
.menu__case__price {
  display: flex;
  margin-top: -25px;
  margin-right: 10px;
}
.menu__contain-button {
  display: flex;
  justify-content: center;
}
.menu__button {
  opacity: 1;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
  padding: 1px 20px;
  margin: 35px;
  border-radius: 200px;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 15px 45px;
  margin-bottom: 70px;
  transition: 0.2s all ease-out;
}
.menu__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.validation__box {
  display: none;
  justify-content: flex-end;
  background-color: #99E2D0;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  margin-top: -70px;
}
.validation__box i {
  color: white;
  padding: 27px;
  animation: rotate 0.5s both;
  font-size: 20px;
}

@keyframes rotate {
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  padding: 20px;
  background: #353535;
  color: #fff;
}
.footer__bloc {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: -30px;
}
.footer__bloc .logo {
  margin-bottom: 15px;
}
.footer__bloc .logo svg {
  width: 32%;
}
.footer__bloc .logo svg path {
  fill: white;
}
.footer__bloc-links {
  margin-left: 126px;
}
.footer__bloc-link {
  display: flex;
  align-items: center;
  font-size: large;
  margin-bottom: 9px;
}
.footer__bloc-link .fa-utensils {
  width: 22px;
}
.footer__bloc-link__title {
  margin-left: 8px;
  text-decoration: none;
  color: white;
  transition: 0.2s all ease-out;
}
.footer__bloc-link__title-margin0 {
  margin-left: 0;
  text-decoration: none;
  color: white;
  transition: 0.2s all ease-out;
}
.footer__bloc-link__title-margin0-contact {
  text-decoration: none;
  color: white;
  transition: 0.2s all ease-out;
}
.footer__bloc-link__title-margin0-contact:hover {
  text-decoration: underline;
}
.footer__bloc-link__title-margin0:hover {
  text-decoration: underline;
}
.footer__bloc-link__title:hover {
  text-decoration: underline;
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .header {
    margin-left: 30px;
    margin-right: 0;
  }

  .menu__header {
    margin-left: 0;
    margin-right: 0;
  }
  .menu__grid {
    display: block;
  }
  .menu__grid__bloc {
    width: 100%;
  }

  .footer__bloc {
    margin-top: 0;
    margin-left: 0;
  }
  .footer__bloc-links {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style_menu.css.map */
